.game-board{
    display:grid;
    grid-template-columns: repeat(3, 30vh);
    grid-template-rows: repeat(3, 30vh);
    gap:0px;
}
.game-space {
    border: 1px solid black;
    
}
.player-selected {
    
}
.game-space:nth-child(-n+3){
    border-top: 0px;
}
.game-space:nth-child(1),
.game-space:nth-child(4),
.game-space:nth-child(7){
    border-left: 0px;
}
.game-space:nth-child(3),
.game-space:nth-child(6),
.game-space:nth-child(9){
    border-right: 0px;
}
.game-space:nth-last-child(n-3){
    border-bottom: 0px;
}